<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            background-color: #013035; 
            background-image:url('https://static.vecteezy.com/system/resources/previews/002/717/627/large_2x/piston-with-a-connecting-rod-part-of-a-car-engine-stock-illustration-isolated-on-white-background-vector.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            font-size: 40px; 
        }
    </style>
</head>
<body>
    <center>
        Resultado: {{ table | safe }}
    </center>
</body>
</html>